
<div class="jumbotron">
  <% flash.each do |key, value| %>
    <div>
      <a href="#" data-dismiss="alert" class="padding">Merci pour votre message, nous allons vous recontactez bientôt !</a>
    </div>
  <% end %>
</div>