
<div class="fh5co-hero">
    <div class="fh5co-overlay"></div>
    <div class="fh5co-cover text-center" data-stellar-background-ratio="0.5" style="background-image: url(<%= asset_path('adorable-animal-beautiful-573258.jpg') %>);">
        <div class="desc animate-box">
            <h2>Communication <strong>Inter-Espèces</strong></h2>
            <!--
            <span>HandCrafted by <a href="http://frehtml5.co/" target="_blank" class="fh5co-site-name">FreeHTML5.co</a></span>
            <span><a class="btn btn-primary btn-lg" href="#">Donate Now</a></span>
            -->
        </div>
    </div>

</div>

<div id="fh5co-feature-product" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center heading-section text-justify">
                <!--<h3>Les animaux communiquent</h3>-->
                <p><strong>Les animaux communiquent d'une manière qui n'est pas verbale, mais il ne faut pas
ignorer qu'ils communiquent, non seulement entre eux mais aussi avec nous les
humains.</strong><br><br> Enfants, nous avons tous été bercés de contes, d’histoires et de films dans lesquels
les animaux parlaient et nous les comprenions. Perrault, Grimm, Disney ou Saint Exupéry étaient-ils visionnaires, ou avaient-ils
simplement pris conscience de cette faculté qu’ils ressentaient comme une évidence
du plus profond de leur être ?
La communication animale n’est pas un don mais une ouverture de cœur, une
faculté oubliée par l’Homme mais que nous avons tous en nous même si nous avons
mis de côté cette forme de langage durant très longtemps... Car il s’agit bien réellement d’une langue que le communicateur animalier traduit, en
tant que messager entre l’animal et l'humain. 
Le dialogue se met en place lorsque l’intuiteur entre en phase avec l’animal. Que ce
soit à distance, avec le nom de l’animal, ou en direct, nos spécialistes sont capables
de «régler» leur fréquence vibratoire, afin de rentrer en contact avec l’animal
comme on pourrait régler notre radio afin d’écouter la station voulue.<br><br> La communication animale n’est pas une science exacte, l’erreur est possible. Aussi, il
faut veiller à émettre des suppositions sur les informations que nous recevons, non
des certitudes, avec humilité, respect et bienveillance.
Il arrive parfois d'intervenir en parallèle d’autres communicateurs dont les ressentis
peuvent être différents d’autres. Il n’appartient pas de juger de leur capacités, ni de
l’exactitude de leurs ressentis. C’est pourquoi le travail en équipe est fondamental à
l’efficacité d’une opération. La Communication Animale peut être d’une aide précieuse pour procurer des
informations sur les origines possibles des pathologies (génétique, psychosomatique, etc.), mais en aucun cas un intuiteur n’est habilité à se substituer à un Docteur
diplômé, ou à apporter des soins et médicaments pour tenter de guérir un animal.<p>
            </div>
        </div>

       <!-- <div class="row row-bottom-padded-md">
            <div class="col-md-12 text-center animate-box">
                <p><%= image_tag '3.jpg', alt: '', class: 'img-responsive' %></p>
            </div>
            <div class="col-md-6 text-center animate-box">
                <p><%= image_tag '3.jpg', alt: '', class: 'img-responsive' %></p>
            </div>
            <div class="col-md-6 text-center animate-box">
                <p><%= image_tag '3.jpg', alt: '', class: 'img-responsive' %></p>
            </div>
        </div>-->
        
        <div class="row">
            <div class="col-md-4">
                    <div class="fh5co-team text-center animate-box fadeInUp animated">
                            <figure>
                                <img alt="Astrid Clavé" src="/system/intuitors/avatars/000/000/002/thumb/Astrid_Clave.jpg?1523378712">
                            </figure>
                            <div class="feature-text">
                                    <h3>Développer la relation <br>Homme-Animal</h3>
                                    <p>La relation que l'on entretien avec les autres espèces est primordiale. C'est pourquoi nous souhaitons la développer</p>
                                </div>
                        </div>

            </div>
            <div class="col-md-4">
                <div class="feature-text">
                    <h3>Découvrir les intuiteurs  </h3>
                    <p>Les intuiteurs sont des profesionnels de la communication avec les animaux. Nous souhaitons promouvoir le travail méconnu de ces profesionnels.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-text">
                    <h3>Accessible à tout le monde </h3>
                    <p>Chacun peut béneficier des prestations des intuiteurs. Que vous soyez des profesionnels en contact avec des animaux ou tout simplement un particulier et l'heureux posseseur d'un animal de compagnie ! </p>
                </div>
            </div>
        </div>

        
    </div>
</div>

<!--
<div id="fh5co-portfolio">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center heading-section animate-box">
                <h3>Our Gallery</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
            </div>
        </div>

        
        <div class="row row-bottom-padded-md">
            <div class="col-md-12">
                <ul id="fh5co-portfolio-list">

                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/cover_bg_1.jpg); ">
                        <a href="#" class="color-3">
                            <div class="case-studies-summary">
                                <span>Give Love</span>
                                <h2>Donation is caring</h2>
                            </div>
                        </a>
                    </li>
                
                    <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/cover_bg_3.jpg); ">
                        <a href="#" class="color-4">
                            <div class="case-studies-summary">
                                <span>Give Love</span>
                                <h2>Donation is caring</h2>
                            </div>
                        </a>
                    </li>

                    <li class="one-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/cover_bg_1.jpg); "> 
                        <a href="#" class="color-5">
                            <div class="case-studies-summary">
                                <span>Give Love</span>
                                <h2>Donation is caring</h2>
                            </div>
                        </a>
                    </li>
                    <li class="two-third animate-box" data-animate-effect="fadeIn" style="background-image: url(images/cover_bg_3.jpg); ">
                        <a href="#" class="color-6">
                            <div class="case-studies-summary">
                                <span>Give Love</span>
                                <h2>Donation is caring</h2>
                            </div>
                        </a>
                    </li>
                </ul>		
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center animate-box">
                <a href="#" class="btn btn-primary btn-lg">See Gallery</a>
            </div>
        </div>

        
    </div>
</div>



<div id="fh5co-content-section" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
                <h3>Leadership</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit est facilis maiores, perspiciatis accusamus asperiores sint consequuntur debitis.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="fh5co-team text-center animate-box">
                    <figure>
                        <img src="images/person_1.jpg" alt="user">
                    </figure>

                    <div>
                        <h3>Jean Doe</h3>
                        <p><span>Founder</span></p>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                    
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-linkedin2"></i></a>
                        <a href="#"><i class="icon-facebook3"></i></a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-team text-center animate-box">
                    <figure>
                        <img src="images/person_2.jpg" alt="user">
                    </figure>
                    <div>
                        <h3>John Doe</h3>
                        <p><span>Founder</span></p>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-linkedin2"></i></a>
                        <a href="#"><i class="icon-facebook3"></i></a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="fh5co-team text-center animate-box">
                    <figure>
                        <img src="images/person_3.jpg" alt="user">
                    </figure>
                    <div>
                        <h3>John Doe</h3>
                        <p><span>Founder</span></p>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                    <p class="fh5co-social-icons">
                        <a href="#"><i class="icon-twitter2"></i></a>
                        <a href="#"><i class="icon-linkedin2"></i></a>
                        <a href="#"><i class="icon-facebook3"></i></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
-->
