<h1>Communication Inter-Espèces</h1>

<p>Les animaux communiquent d'une manière qui n'est pas verbale, mais il ne faut pas
ignorer qu'ils communiquent, non seulement entre eux mais aussi avec nous les
humains. Enfants, nous avons tous été bercés de contes, d’histoires et de films dans lesquels
les animaux parlaient et nous les comprenions. Perrault, Grimm, Disney ou Saint Exupéry étaient-ils visionnaires, ou avaient-ils
simplement pris conscience de cette faculté qu’ils ressentaient comme une évidence
du plus profond de leur être ?
La communication animale n’est pas un don mais une ouverture de cœur, une
faculté oubliée par l’Homme mais que nous avons tous en nous même si nous avons
mis de côté cette forme de langage durant très longtemps... Car il s’agit bien réellement d’une langue que le communicateur animalier traduit, en
tant que messager entre l’animal et l'humain. Le dialogue se met en place lorsque l’intuiteur entre en phase avec l’animal. Que ce
soit à distance, avec le nom de l’animal, ou en direct, nos spécialistes sont capables
de «régler» leur fréquence vibratoire, afin de rentrer en contact avec l’animal
comme on pourrait régler notre radio afin d’écouter la station voulue. La communication animale n’est pas une science exacte, l’erreur est possible. Aussi, il
faut veiller à émettre des suppositions sur les informations que nous recevons, non
des certitudes, avec humilité, respect et bienveillance.
Il arrive parfois d'intervenir en parallèle d’autres communicateurs dont les ressentis
peuvent être différents d’autres. Il n’appartient pas de juger de leur capacités, ni de
l’exactitude de leurs ressentis. C’est pourquoi le travail en équipe est fondamental à
l’efficacité d’une opération. La Communication Animale peut être d’une aide précieuse pour procurer des
informations sur les origines possibles des pathologies (génétique, psychosomatique, etc.), mais en aucun cas un intuiteur n’est habilité à se substituer à un Docteur
diplômé, ou à apporter des soins et médicaments pour tenter de guérir un animal.<p>