@import 'theme/style.css';
@import 'https://fonts.googleapis.com/css?family=Lato:400,900';

.mySlides>img{    width: 100%;position: relative;top:-145px;}
.intuiteur-avatar > img {width: 16vw;height: 16vw;clip-path: circle(6vw);margin: auto;}
.intuiteur-avatar {background-color: white;}
.w3-round w3-margin-bottom intuiteur-avatar {text-align: center;}
.slide-size{width: 100vw;height: 500px;overflow: hidden;background-position: center;}
.container {
    margin: 200px auto;
    max-width: 1200px;
    padding: 0 1rem;
  }
  .responsive-image {
    max-width: 100%;
  }
  .cell img {
    display: block;
  }
  @media screen and (min-width: 600px) {
    .grid {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
    }
    .cell {
      width: 50%;
    }
  }
  @media screen and (min-width: 1300px) {
    .cell {
      width: calc(100% / 3);
    }
    .mySlides > img{top: -405px;}
  }
  .cell {
    margin: 1rem;
    text-align: center;
  }
  @media screen and (min-width: 600px) {
    .cell {
      width: calc(50% - 2rem);
    }
  }

  @media screen and (min-width: 1000px) {
    .cell {
      width: calc(33.3333% - 2rem);
    }
  }
.logo1 {width: 4.5%;height: 4.5%;float: left;}
.logo2 {width: 100px;height: 100px;}
.container-intuit{
  text-align: center;
  margin: 150px;
}
.container-intuit a{
  background-color: #725322;
  display: block; 
  padding: 10px;
  text-decoration: none;
  color: #ffff;
  width: 200px;
  margin: auto;
}
.img-intuit img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
  margin: 50px;
}
