<p id="notice"><%= notice %></p>

<h1>Categories</h1>

<div class="container">
  <div class="grid">
    <% @categories.each do |category| %>
        <div class="cell">
          <div class="titre-categorie"><%= category.title %>
          <%= link_to image_tag(category.image.url(:medium), :border => 0), category, :class => 'w3-round responsive-image intuiteur-avatar' %>
        </div>
        </div>
    <% end %>
  </div>
</div>


<br>

<%= link_to 'Ajouter une catégorie', new_category_path %>
