<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
 <div class="isflogo">
    <%= image_tag "logo-2.png", alt:"logo isf", class:"logo1", href:"https://iwb-isf.herokuapp.com/#band" %>
    <a href="#" class="w3-bar-item w3-button w3-padding-large">ISF</a>
  </div>
    <%= link_to "ISF", root_path, :class=>"w3-bar-item w3-button w3-padding-large" %>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Communication Inter-Espèces</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Projets</a>
    <%= link_to "Espace pro", root_path, :class=>"w3-bar-item w3-button w3-padding-large w3-hide-small" %>
  </div>
</div>

