<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a href="#" class="w3-bar-item w3-button w3-padding-large">ISF</a>
    <a href="#band" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Communication Inter-Espèces</a>
    <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Projets</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">Espace pro</a>
  </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-black w3-hide w3-hide-large w3-hide-medium w3-top" style="margin-top:46px">
  <a href="#band" class="w3-bar-item w3-button w3-padding-large">BAND</a>
  <a href="#tour" class="w3-bar-item w3-button w3-padding-large">TOUR</a>
  <a href="#contact" class="w3-bar-item w3-button w3-padding-large">CONTACT</a>
  <a href="#" class="w3-bar-item w3-button w3-padding-large">MERCH</a>
</div>
